<div class="flex-container ">
  @if (elementsOptions.clientSecret) {
    <div class="flex-child parent">
      <div class="child"> 

      </div>     
    </div>

    <div class="flex-child parent ">
      

      <div class="child">
        
        <ngx-stripe-elements containerClass="example"
          [stripe]="stripe"
          [elementsOptions]="elementsOptions"
        >
        <ngx-stripe-address [options]="shippingAddressOptions" />
          <ngx-stripe-payment [options]="paymentElementOptions" />
        </ngx-stripe-elements>
        
        <button (click)="pay()" class="btn btn-primary mt-3">PAY</button>
      </div>
    </div>

  }
  </div>